.c-header {
    width: 100%;
    height: 70px;
    background: var(--gradient);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    z-index: 2;
}

.logo {
    padding-left: 20px;
}

.c-links {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: flex-end;
    column-gap: 5px;
    padding-right: 20px;
    align-content: flex-end;
}

.item {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: color 350ms ease-in-out;
}
.item:focus {
    border-bottom: 3px solid var(--secundary);
}
.item:hover {
    color: var(--secundary);
}