:root {
    --primary: #A21217;
    --secundary: #ff6368;
    --dark: #000000;
    --light: #FEFBFF;
    --contrast: #0B0D52;
    --gradient: linear-gradient(90deg, rgb(255, 255, 255) 23%, rgba(0,0,0,1) 67%, rgba(0,0,0,1) 100%);
}