.c-banner {
    width: 100%;
    max-width: 1700px;
    height: 400px;
    background-color: transparent;

    display: flex;
    justify-content: space-around; 
    align-items: center;
    overflow: hidden; 
    gap: 2px;
}

